[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "==2022.5.2"
mysqlclient = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-mysql = "*"

[dev-packages]

[requires]
python_version = "3.8"
